In [49]:
import pandas as pd
import numpy as np

In [191]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1, encoding='euc-kr')
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289

In [190]:
cctv_20 = cctv.drop(['2021년'], axis=1)
cctv_20.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361

In [189]:
cctv_20.rename(columns={'구분' : '자치구'},inplace=True)
cctv_20.head(3)

,자치구,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361

In [192]:
jumin = pd.read_csv('서울시주민등록인구(구별)통계.txt', sep='\t', skiprows=0)
jumin.head(3)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"

In [193]:

jumin2 = jumin.set_index("자치구")
jumin2 = jumin2.drop(['세대당인구','인구.1','인구.2', '인구.4','인구.5','인구.7','인구.8',"세대","기간"], axis=1)
jumin2.rename(columns={"인구" : "전체 인구", "인구.3" : "한국인 합계", "인구.6" : "외국인 합계"},inplace=True)
jumin4 = jumin2.iloc[2:]
jumin4 = jumin4.iloc[1:]
jumin4.head(3)

       전체 인구   한국인 합계  외국인 합계 65세이상고령자
자치구
종로구  155,106  146,029   9,077   27,605
중구   132,259  123,016   9,243   23,980
용산구  240,665  226,378  14,287   38,884

In [195]:
#데이터 값 정수로 변환
for column in jumin4.columns[:]:
    jumin4[column] = jumin4[column].apply(lambda x: int(x.replace(',','')))

jumin4.head(3)

      전체 인구  한국인 합계  외국인 합계  65세이상고령자
자치구
종로구  155106  146029    9077     27605
중구   132259  123016    9243     23980
용산구  240665  226378   14287     38884